<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add a cookie</h1>
    <form class="" action="/add" method="post">
      <label for="">Key</label>
      <input type="text" name="key" value="">
      <label for="">Value</label>
      <input type="text" name="value" value="">
      <button type="submit" name="button">Submit</button>
    </form>

    <h3>Cookie Table</h3>
    <table>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      <% for (let i in cookie) { %>
      <tr>
        <td><%= i %></td>
        <td><%= cookie[i] %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
