<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Form </title>
    <link rel="stylesheet" href="<%= day ? 'css/day.css' : 'css/night.css' %>">
  </head>
  <body>
    <form method="post" action="/result">
      <label> Name </label>
      <input type="text" name="name"></input>
      <label> Age </label>
      <input type="text" name="age"></input>
      <button type="submit"> Submit Query </button>
    </form>
  </body>
</html>
